# {{ ansible_managed }}

server {
    listen       80;
    server_name  {{ letsencrypt_domain_name }};

    location '/.well-known/acme-challenge' {
       root /var/lib/letsencrypt;
       default_type "text/plain";
    }

    location / {
      root /var/lib/letsencrypt;
    }
}
